/* Styles for the GKSG iframe */
@font-face {
  font-family: "Univers";
  src: url("../fonts/UniversLTStd.otf") format("opentype"), url("../fonts/UniversLTStd.woff2") format("woff2"), url("../fonts/UniversLTStd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/UniversLTStd-Bold.otf") format("opentype"), url("../fonts/UniversLTStd-Bold.woff2") format("woff2"), url("../fonts/UniversLTStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/UniversLTStd-Light.otf") format("opentype"), url("../fonts/UniversLTStd-Light.woff2") format("woff2"), url("../fonts/UniversLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Univers", sans-serif;
  color: rgb(86, 86, 86);
  margin: 0;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 0 .75em;
}
th {
  padding: .5em;
  text-align: left;
  font-weight: normal;
  border-bottom: lightgrey solid .15em;
}
td {
  padding: .5em;
  line-height: 1em;
  vertical-align: top;
  background-color: #f4f5f5;
  transition: background-color .3s ease;
}
a {
  color: rgb(30, 79, 45);
  text-decoration: none;
}
tbody tr:hover a {
  color: white;
}
tbody tr:hover td, .button:hover{
  color: white;
  background-color: rgb(30, 79, 45);
  cursor: pointer;
}
.button {
  text-decoration: none;
  padding: .5em;
  border: thin solid lightgrey;
  background-color: #e5e5e5;
  border-radius: .25em;
  color: rgb(86, 86, 86);
  transition: background-color .3s ease;
}
